<h1>List of Users</h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
<th> ID </th>
<th> Username </th>
<th> Details </th>

<% @list_of_users.each do |a_thing| %>
<tr>
  <td><%= a_thing.id%></td>
  <td><%= a_thing.username%></td>
  <td>
    <a href = "/users/<%= a_thing.username%>">
    Show Details
    </a>
  </td>
  </tr>
<% end %>
